[submodule "src/third_party/osdialog"]
	path = src/third_party/osdialog
	url = https://github.com/ttytm/osdialog-odin.git
[submodule "osdialog"]
	path = osdialog
	url = https://github.com/ttytm/osdialog-odin.git
